<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body class="d-flex">
    <div class="sidebar d-none transition">
        hi
    </div>
    <div class="p-5 w-100">
        <!-- Title -->
        <div class="d-flex align-items-center mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" style="width: 32px; height: 32px; margin-right: 24px;">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <b class="dash-title">Control Dashboard</b>
        </div>

        <!-- Sensors section -->
        <div class="section-title">Sensor Status</div>
        <section class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="custom-card row align-items-center justify-content-between">
                    <div class="col-12 col-lg-9">
                        <p class="lg-card-smtitle">Temperature</p>
                        <p class="lg-card-highlight">10.9 °C</p>
                    </div>
                    <div class="col-0 col-lg-3 d-none d-lg-block justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="custom-card row align-items-center justify-content-between">
                    <div class="col-12 col-lg-9">
                        <p class="lg-card-smtitle">Humidity</p>
                        <p class="lg-card-highlight">57.53%</p>
                    </div>
                    <div class="col-0 col-lg-3 d-none d-lg-block justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="custom-card row align-items-center justify-content-between">
                    <div class="col-12 col-lg-9">
                        <p class="lg-card-smtitle">Light Intensity</p>
                        <p class="lg-card-highlight">9,302</p>
                    </div>
                    <div class="col-0 col-lg-3 d-none d-lg-block justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="custom-card row align-items-center justify-content-between">
                    <div class="col-12 col-lg-9">
                        <p class="lg-card-smtitle">Devices in Area</p>
                        <p class="lg-card-highlight">32</p>
                    </div>
                    <div class="col-0 col-lg-3 d-none d-lg-block justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                    </div>
                </div>
            </div>
        </section>
        <!-- Controls section -->
        <div class="section-title">Controls</div>
        <section class="row mb-3">
            <div class="col-12 col-md-6">
                <div class="custom-card row align-items-center justify-content-between">
                    <div class="col-12 col-lg-10">
                        <p class="lg-card-title">Fans
                            {% if states.fan %}
                            <span class="on-off transition on" id="fan-indicator">(ON)</span>
                            {% else %}
                            <span class="on-off transition off" id="fan-indicator">(OFF)</span>
                            {% endif %}
                        </p>
                        <p class="lg-card-desc">Fan can be used to adjust the temperature.</p>
                        {% if states.fan %}
                        <button id="fan-toggle" class="transition lg-button lg-button-on">Turn OFF</button>
                        {% else %}
                        <button id="fan-toggle" class="transition lg-button lg-button-off">Turn ON</button>
                        {% endif %}
                    </div>
                    <div class="col-0 col-lg-2 d-none d-lg-block justify-content-center">
                        <svg id="fan-icon-indicator" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" style="height: 100%"
                            class="transition {% if states.fan %} fan-icon-on {% else %} icon-off {% endif %}">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="custom-card row align-items-center justify-content-between">
                    <div class="col-12 col-lg-10">
                        <p class="lg-card-title">Lights
                            {% if states.light %}
                            <span class="on-off transition on" id="light-indicator">(ON)</span>
                            {% else %}
                            <span class="on-off transition off" id="light-indicator">(OFF)</span>
                            {% endif %}
                        </p>
                        <p class="lg-card-desc">Lights can be used to change the room's light intensity.</p>
                        {% if states.light %}
                        <button id="light-toggle" class="transition lg-button lg-button-on">Turn OFF</button>
                        {% else %}
                        <button id="light-toggle" class="transition lg-button lg-button-off">Turn ON</button>
                        {% endif %}
                    </div>
                    <div class="col-0 col-lg-2 d-none d-lg-block justify-content-center">
                        <svg id="light-icon-indicator" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="height: 100%"
                            class="transition {% if states.light %} light-icon-on {% else %} icon-off {% endif %}">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                        </svg>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../static/scripts/light.js"></script>
    <script src="../static/scripts/fan.js"></script>
</body>

</html>